<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 遍历值 -->
    <ul>
      <li v-for="value in Fei">{{value}}</li>
    </ul>
    <!-- 遍历值和键值对 -->
    <ul>
      <li v-for="(value,key) in Fei">{{key}}:{{value}}</li>
    </ul>
    <!-- 遍历值，键值对和索引 -->
    <ul>
      <li v-for="(value,key ,index) in Fei">{{index+1}}-{{key}}:{{value}}</li>
    </ul>
  </div>
  <script>
    let app = new Vue ({
      el:"#app",
      data:{
        message:"你好啊",
        Fei:{
          name:"li",
          age:18,
          height:1.88
        }
      }
    })
  </script>
</body>
</html>