<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 1.遍历值 -->
    <ul>
      <li v-for="value in people">{{value}}</li>
    </ul>
    <!-- 2.遍历值和下标格式（值，索引） -->
    <ul>
      <li v-for="(value,index) in people">{{index+1}}.{{value}}</li>
    </ul>
  </div>
  <script>
    let app = new Vue ({
      el:"#app",
      data:{
        message:"你好啊",
        people:['liFei','niuEr','sunTen','wang']
        
      }
    })
  </script>
</body>
</html>