<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <link rel="stylesheet" href="../购物车案例1/style.css">
</head>
<body>
  <script src="../vue.js"></script>
  <div id="app">
    <div id="main" v-if="books.length"><!--购物车为空时-->
      <table>
        <thead>
          
            <th></th>
            <th>书籍名称</th>
            <th>出版日期</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
          
        </thead>
          
        <tbody>
          <tr v-for="(value,index) in books">
            <td>{{value.id}}</td>
            <td>{{value.name}}</td>
            <td>{{value.data}}</td>
            <td>{{value.price |showPrice}}</td><!--用到了过滤器-->
            <td>
            <button @click="sub(index)" :disabled="value.count === 0">-</button> <!--当数量为0按钮失效-->
            {{value.count}}
            <button @click="add(index)">+</button></td>
            <td><button @click="de">移除</button></td>
          </tr>
        </tbody>
          
      </table>
      <h2>总价:{{allPrice |showPrice}}</h2> 
    </div>
    <div  id="main" v-else><h2>购物车为空</h2></div><!--购物车为空时-->
    
  </div>
 


 
  
  <script src="C:\Users\20183\Desktop\Vue.js\我在B站学vue\购物车案例1\main.js"></script>
</body>
</html>