<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="isShow">我是黑马</p>
        <p v-show="isShow">我是大黑马</p>
         <button @click="changeShow">切换事件</button>
         <p v-if="size>=18">太大了</p>
    </div>
    <script>
        var app = new Vue({
          el:"#app",
          data:{
              isShow:false,
              size:17   
          },
          methods:{
             changeShow:function(){
            this.isShow = !this.isShow
             }
          }
        })
    </script>
</body>
</html>